@media (min-width:800px) {
  html,body   {
    background-color: #000000;
    color: #ffffff;
  }
  
  body {
    margin: 0px;
    padding:0px;
  }
  
  #top {
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: url("img/金魚.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #top p {
    padding-right: 50px;
    font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  }
  
  .outline {
    width: 200px;
    text-align: center;
    float: right;
    margin: 50px 30px;
  }
  
  .profile{
    display: inline-block;
    text-align: left;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    margin-right: 20px;
    margin-top: 100px;
  }

  #menu-btn, #close-btn  {
    display: none;
  }

  li {
    margin-top: 30px;
  }
  
  li p {
    margin: 0;
    padding: 10px 0px;
  }
  
  li:hover {
    border: 2px solid #ffffff;
  }
  
  a {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
  }
  
  h2 {
    margin-bottom: 50px;
    font-size: 32px;
  }
  
  td {
    padding: 5px;
  }
  
  img{
    width: 320px;
    height: 250px;
  }

/* あいさつ */
  
  .contents {
    width: 60%;
    background-color:#ffffff;
    margin: 0 auto;
    bottom: 0;
  }

  .balloon {
    width: 100%;
    margin: 1.5em 0;
    overflow: hidden;
    padding-left: 1.5em;
    padding-top: 1.5em;
  }

  .balloon .faceicon {
    float: left;
    margin-right: -90px;
    width: 80px;
  }
  
  .balloon .faceicon img{
    width: 100%;
    height: auto;
    border: solid 1px #d7ebfe;
    border-radius: 50%;
  }
  
  .balloon .chatting {
    width: 100%;
    display: flex;
  }
  
  .balloon-left {
    max-width: 60%;
    display: inline-block;
    position: relative; 
    margin: 0.5em 15px 1.5em 105px;
    padding: 17px 13px;
    border-radius: 12px;
    background: #b0c4de;
    color: #000000;
  }
  
  .balloon-left:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 20px; 
    left: -24px;
    border: 12px solid transparent;
    border-right: 12px solid #b0c4de;
  }
  
  .balloon-left p {
    margin: 0;
    padding: 0;
  }
  
  /* あいさつここまで */
  
  /* プロフィール表ここから */
table {
  background-color: #c0c0c0;
  color: #000000;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

th {
  background-color: yellow;
  width: 20%;
  margin: 0;
  padding: 10px;
}

td a {
  color: #1e90ff;
  font-size: 16px;
  margin-left: 0.5em;
}

td {
  margin: 0;
  padding: 10px;
  text-align: left;
  background-color: #ffffff;
}
/* プロフィール表ここまで */

/* footerここから */
footer {
  height: 10%;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 20px;
  margin-top: 50px;
}

footer li {
  margin: 10px;
  float: right;
  padding: 10px;
}
footer a {
  font-size: 16px;
}

/* footerここまで */
}
  
  /********* レスポンシブデザインここから ******************************/
  
  @media (min-width:0px) and (max-width: 799px) {
    html,body   {
      background-color: #000000;
      color: #ffffff;
    }
    
    body {
      margin: 0px;
      padding:0px;
    }
    
    #top {
      text-align: center;
      width: 100%;
      height: 100%;
      background-image: url("img/金魚.png");
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      align-items: flex-end;
    }
    
    #top p {
      font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    }
    
    .outline {
      width: 100%;
      text-align: center;
      padding: 10px;
      text-align: left;
    }
    
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      overflow: hidden;
      margin-right: 20px;
      margin-top: 50px;
    }
  
    #menu-btn, #close-btn  {
      display: none;
    }
  
    li {
      margin-top: 10px;
    }
    
    li p {
      margin: 0;
      padding: 10px 0px;
    }
    
    li:hover {
      border: 2px solid #ffffff;
    }
    
    a {
      text-decoration: none;
      color: #ffffff;
      font-size: 24px;
    }
    
    h2 {
      margin-bottom: 50px;
      font-size: 32px;
    }
    
    td {
      padding: 5px;
    }
    
    img{
      width: 320px;
      height: 250px;
    }
  
  /* あいさつ */
    
    .contents {
      width: 100%;
      margin: 0 auto;
      bottom: 0;
    }
  
    .balloon {
      width: 100%;
      margin: 1.5em 0;
      overflow: hidden;
      padding-left: 1.5em;
      padding-top: 1.5em;
    }
    
    .q_balloon {
      width: 100%;
      margin: 1.5em 0;
      overflow: hidden;  
    }
    
  
    .balloon .faceicon {
      float: left;
      margin-right: -90px;
      width: 80px;
    }
    
    .balloon .faceicon img{
      width: 100%;
      height: auto;
      border: solid 1px #d7ebfe;
      border-radius: 50%;
    }
    
    .balloon .chatting {
      width: 100%;
      display: flex;
    }
    
    .balloon-left {
      max-width: 60%;
      display: inline-block;
      position: relative; 
      margin: 0.5em 15px 1.5em 105px;
      padding: 17px 13px;
      border-radius: 12px;
      background: #b0c4de;
      color: #000000;
    }
    
    .balloon-left:after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 20px; 
      left: -24px;
      border: 12px solid transparent;
      border-right: 12px solid #b0c4de;
    }
    
    .balloon-left p {
      margin: 0;
      padding: 0;
    }
    
    /* あいさつここまで */
    
    /* プロフィール表ここから */
  table {
    background-color: #c0c0c0;
    color: #000000;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  th {
    background-color: yellow;
    width: 20%;
    margin: 0;
    padding: 10px;
  }
  
  td a {
    color: #1e90ff;
    font-size: 16px;
    margin-left: 0.5em;
  }
  
  td {
    margin: 0;
    padding: 10px;
    text-align: left;
    background-color: #ffffff;
  }
  /* プロフィール表ここまで */
  
  /* footerここから */
  footer {
    height: 10%;
  }
  
  footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 20px;
    margin-top: 50px;
  }
  
  footer li {
    margin: 10px;
    float: right;
    padding: 10px;
  }
  footer a {
    font-size: 16px;
  }
  
  /* footerここまで */
  
}