html,body   {
  background-color: #000000;
  color: #ffffff;
}

body {
  margin: 0px;
  padding:0px;
}



h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

h2 {
  margin-bottom: 50px;
  font-size: 32px;
}


td {
  padding: 5px;
}

img{
  width: 320px;
  height: 250px;
}

.header {
  text-align: center;
  width: 100%;
  height: 100%;
  background-image: url("img/金魚.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
  
}

.header p {
  padding-right: 100px;
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  margin-right: 20px;
  margin-top: 100px;
}

li {
  margin-top: 30px;
}

li p {
  margin: 0;
  padding: 10px 0px;
}

li:hover {
  border: 2px solid #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
}



.outline {
  width: 200px;
  text-align: center;
  float: right;
  margin: 50px 30px;
}

.profile{
  display: inline-block;
  text-align: left;
}


  .contents{
    display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
  
  }

.content{
  display:block;
  width: 820px;
  margin-bottom: 50px;
  float: left;
}


.content img{
  margin-top: 50px;
  margin-right: 50px; 
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.rigt img{
  float: right;
  margin-left: 50px;
  margin-right: 0;
}


.content h3 {
  position: absolute;
  padding: 100px;
  float: right;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  visibility: visible;
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: visibility, opacity;
}

.content:hover h3 {
  visibility: hidden;
  opacity: 0;
  transition-duration: 0.5s;
}

.content p {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  margin-top: 75px;
  margin-left: 50px;
  visibility: hidden;
  opacity: 0;
  transition-property: visibility, opacity;

}

.content:hover p {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.5s;
  transition-duration: 0.5s;
}

content_reason h3 p  {
  width: 1000px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 75px;
  margin-left: 50px;
  float: left;

}